mjml
  mj-head
    mj-font(
      name="Dancing Script"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap")
    mj-title RHB EDM
    mj-preview Use DuitNow on RHB App today!
    mj-attributes
      mj-all(
        font-family="Lato, Helvetica, Arial, serif",
        font-size="16px",
        padding="0",
        color="#636363",
        align="center")

  mj-body(width="600px")
    mj-section(
      background-url="./assets/rhb-duitnow-qr.png",
      background-size="cover",
      background-repeat="no-repeat")
      mj-column
        mj-spacer(height="299px")
        mj-text(
          align="left",
          color="#ffffff")
          span(style="font-size: 36px")
            h1(style="font-family: Dancing Script; margin: 0; padding: 20px 0 10px 20px; background-color: rgba(36, 142, 178, 0.5);") Stay safe,
            span
              h3(style="margin: 0; padding: 5px 0 20px 20px; background-color: rgba(36, 142, 178, 0.5); font-size: 24px; font-weight: normal") while you DuitNow QR.

    mj-section(padding="0 20px")
      mj-column
        mj-text
          h2(style="color: #2a67b1") New ways of spending in the new norm.
          p(style="color: #929292; line-height: 1.5") Enjoy great rewards just by using DuitNow QR to make contactless payments! Shop safely when you're out and about to take part. Make more transactions, gain more entries and increase your chances of winning.#[br]Stay safe and DuitNow QR.
          h4(style="color: #2a67b1; line-height: 1.3") Campaign period: 1 December 2020 - 28 February 2021

    mj-section(background-color="#d4f0f7")
      mj-column
        mj-text
          h2(style="color: #2a67b1") Prizes up for grabs.

    mj-section(background-color="#d4f0f7")
      mj-column(
        width="49%",
        padding="5px")
        mj-text
          h1(style="color: #2a67b1; background-color: #86cbe0; margin: 0 0 10px 0; padding: 10px 20px; display: inline-block") RM1,000
        mj-text(color="#ffffff")
          b(style="background-color: #2a67b1; padding: 10px 15px")
            i x50 Grand Prize Winners
        mj-text(line-height="1.3")
          p(style="margin: 20px; padding: 30px 10px; background-color: #ffffff") For the first 50 winners with the highest accumulated entries during the campaign period.
      mj-column(
        width="49%",
        padding="5px")
        mj-text
          h1(style="color: #2a67b1; background-color: #86cbe0; margin: 0 0 10px 0; padding: 10px 20px; display: inline-block") RM50
        mj-text(color="#ffffff")
          b(style="background-color: #2a67b1; padding: 10px 15px")
            i x300 Monthly Winners
        mj-text(line-height="1.3")
          p(style="margin: 20px; padding: 30px 10px; background-color: #ffffff") For the first 300 winners with the highest entries per month.

    mj-section(padding="30px 0")

    mj-section(
      padding="0 20px",
      background-color="#d4f0f7")
      mj-column
        mj-text
          h2(style="color: #2a67b1") Pay with DuitNow QR to gain entries.

    mj-section(
      padding="0 15px 15px 15px"
      background-color="#d4f0f7")
      mj-column
        mj-table(
          color="#2a67b1",
          font-size="12px",
          cellpadding="10px 15px")
          tr
            td(style="background-color: #5bc2e6; border: 2px solid #ffffff; text-align: center")
              b Type of transactions
            td(style="background-color: #5bc2e6; border: 2px solid #ffffff; text-align: center")
              b Minimum amount
            td(style="background-color: #5bc2e6; border: 2px solid #ffffff; text-align: center")
              b No of entries
          tr
            td(style="background-color: #2a67b1; color: #ffffff; border: 2px solid #ffffff")
              p(style="margin: 8px 0") Download and sign up for#[br] Mobile Banking App
            td(style="border: 2px solid #ffffff")
              p(style="margin: 8px 0; font-size: 18px; text-align: center") Not Applicable
            td(style="border: 2px solid #ffffff")
              p(style="margin: 8px 0; font-size: 18px; text-align: center") 5
                span(style="font-size: 12px; margin-left: 8px; white-space: nowrap") (one-off)
          tr
            td(style="background-color: #2a67b1; color: #ffffff; border: 2px solid #ffffff")
              p(style="margin: 8px 0;") DuitNow QR payment
            td(style="border: 2px solid #ffffff")
              p(style="margin: 8px 0; font-size: 18px; text-align: center") RM10
            td(style="border: 2px solid #ffffff")
              p(style="margin: 8px 0; font-size: 18px; text-align: center") 3

    mj-section(padding="30px 20px")
      mj-column
        mj-text(align="left")
          h1(style="color: #2a67b1") How to pay with#[br]DuitNow QR
          span
            b(style="color: #ef3e42") Step 1
            p Download and launch your Mobile Banking App and tap on the DuitNow QR icon.
      mj-column
        mj-image(data-steps="1", src="./assets/how-to-step-1.png")

    //- mj-section(
      padding="30px 15px"
      background-color="#f0fafc")
      mj-column
        mj-text
          style.
            #steps {
              position: relative;
              display: block
            }

            #steps .steps-column {
              width: 49%;
              display: inline-block;
            }

            .steps-column {
              text-align: left;
              line-height: 1.3;
              margin: 0
            }

            .steps-column h1 {
              color: #2a67b1
            }

            .steps-column .copy b {
              color: #ef3e42
            }

            .steps-column .copy p {
              font-size: 12px
            }

            .steps-column img {
              width: 100%
            }

            input[id="1"]:checked ~ [data-steps="3"], [data-steps="3"] {
              display: none
            }

            input[id="1"]:checked ~ [data-steps="2"], [data-steps="2"] {
              display: none
            }

          #steps
            .steps-column
              h1 How to pay with#[br]DuitNow QR
              .copy.one(data-steps="1")
                b Step 1
                p Download and launch your Mobile Banking App and tap on the DuitNow QR icon.
              //- .copy.two(data-steps="2")
                b Step 2
                p Scan and enter amount.
              //- .copy.three(data-steps="3")
                b Step 3
                p Success!
              input(type="radio", name="radio", id="1", checked)
              input(type="radio", name="radio", id="2")
              input(type="radio", name="radio", id="3")
            .steps-column
              img(data-steps="1", src="./assets/how-to-step-1.png")

    mj-section(
      padding="40px 20px"
      background-color="#5bc2e6")
      mj-column
        mj-text(
          align="left",
          color="#ffffff")
          span(style="font-size: 24px")
            h3(style="margin: 0; font-weight: normal;") Banking right
            h1(style="font-family: Dancing Script; margin: 0;") by you.
          p Do your banking securely and conveniently on mobile.
          p(style="color: #000000") Download the new Mobile Banking App now.
          div(style="display: inline-block; width: 49%; text-align: center; color: #000000; margin-bottom: 20px")
            a(
              href="https://apps.apple.com/my/app/rhb-mobile-banking/id1440953606",
              target="_blank",
              style="text-decoration: none; color: inherit")
              img(
                src="./assets/rhbapp-appstore.png",
                style="width: 100%; margin-right: 5px;",
                alt="RHB App Store QR code")
              b App Store
          div(style="display: inline-block; width: 49%; text-align: center; color: #000000; margin-bottom: 20px")
            a(
              href="https://play.google.com/store/apps/details?id=com.rhbgroup.rhbmobilebanking",
              target="_blank",
              style="text-decoration: none; color: inherit")
              img(
                src="./assets/rhbapp-playstore.png",
                style="width: 100%; margin-left: 5px;",
                alt="RHB Play Store QR code")
              b Google Play
      mj-column
        mj-image(src="./assets/rhb-app-preview.png")

    mj-section(padding="20px")
      mj-column
        mj-text(line-height="1.5")
          h2(style="color: #2a67b1; margin-bottom: 40px") Need more information about DuitNow?#[br]We are more than happy to help.
          a(
            href="#",
            target="_blank",
            style="color: #ffffff; background-color: #2a67b1;padding: 8px 20px; border-radius: 8px; text-decoration: none;") Find Out More

    mj-section(padding="20px")
      mj-column
        mj-text(
          align="left",
          padding="0"
        )
          b(style="color: #5bc2e6; font-size: 12px") Terms and Conditions


    mj-section(
      background-color="#5bc2e6",
      padding="20px")
      mj-column
        mj-text(
          align="left"
          padding-left="30px",
          color="#ffffff",
          line-height="1.5")
          h2 Get in touch today.
          p #[b Visit] any of our branches
            br
            | #[b Call] us at #[a(href="tel:60392068118", style="text-decoration: none; color: #ffffff") 03-9206 8118]

    mj-section(padding="40px")
      mj-column
        mj-text(
          align="left",
          color="#a9a9a9",
          font-size="10px")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ut ratione libero. Perferendis porro, magni itaque assumenda magnam, culpa atque veritatis nostrum sequi recusandae explicabo accusantium incidunt, inventore beatae repudiandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ullam debitis veritatis animi, beatae consequatur magnam, quia quasi quidem dolorem soluta voluptates illum in omnis, at doloribus nesciunt eligendi quod?
