doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./vendor/bootstrap.min.css")
    link(rel="stylesheet", href="./index.css")
    title Document
  body
    .row
      nav.navbar.navbar-expand-md.navbar-light.bg-light
        a.navbar-brand(href="#")
          img(
            src="http://via.placeholder.com/100x50/f3627c?text=LOGO",
            alt="Brand logo")
        button.navbar-toggler(
          type="button",
          data-toggle="collapse",
          data-target="#navbarNav",
          aria-controls="navbarNav",
          aria-expanded="false",
          aria-label="Toggle navigation")
          span.navbar-toggler-icon

        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="#") Home
            li.nav-item
              a.nav-link(href="#") Discovery
            li.nav-item
              a.nav-link(href="#") Photos
            li.nav-item
              a.nav-link(href="#") Contact

    .hero-image
      .row.justify-content-lg-center
        .col-lg-10.hero
          .hero-text(data-hero="0")
            h1#hero-title.text-white Prow scuttle parrel provost Sail#[br]lookout wherry doubloon chase
            i#hero-desc.text-white Case shot Shiver me timbers gangplank
          ul#indicator
            li#one.active
            li#two

    .container
      .row.justify-content-lg-center
        .frame.col-lg-10.m-3
          h2 Trending
          ul#slide.ml-auto
            li#left &nbsp;<&nbsp;
            li#right &nbsp;>&nbsp;
          .card-container
            .card
              img.card-img-top(src="./assets/trending-01-grasshill.jpg" alt="Card image cap")
              .card-body
                h5.card-title Pastry gingerbread
                small.card-text.text-muted
                  p Marshmallow sugar plum cheesecake ice cream.
                small.card-text.text-muted
                  p &#9202; some time ago
            .card
              img.card-img-top(src="./assets/trending-02-beach.jpg" alt="Card image cap")
              .card-body
                h5.card-title Marzipan soufflé
                small.card-text.text-muted
                  p Chocolate bar fruitcake liquorice jujubes carrot cake chupa chups chocolate.
                small.card-text.text-muted
                  p &#9202; some time ago
            .card
              img.card-img-top(src="./assets/trending-03-arctic.jpg" alt="Card image cap")
              .card-body
                h5.card-title Candy canes tootsie
                small.card-text.text-muted
                  p Sesame snaps chocolate bar sweet roll pudding jelly-o Dragée toffee.
                small.card-text.text-muted
                  p &#9202; some time ago
            .card
              img.card-img-top(src="./assets/trending-04-summit.jpg" alt="Card image cap")
              .card-body
                h5.card-title Donut cake bonbon
                small.card-text.text-muted
                  p Powder liquorice biscuit halvah pastry sweet roll marzipan.
                small.card-text.text-muted
                  p &#9202; some time ago
            .card
              img.card-img-top(src="./assets/trending-05-granite.jpg" alt="Card image cap")
              .card-body
                h5.card-title Pudding apple pie
                small.card-text.text-muted
                  p Ice cream apple pie apple pie liquorice caramels marshmallow candy.
                small.card-text.text-muted
                  p &#9202; some time ago

    .container
      .row.justify-content-lg-center
        .col-lg-10
          h2 Happening
      .row.justify-content-lg-center
        .col-lg-6.col-md-12
          .card.text-white.bg-dark.happening.mb-4
            img.card-img(src="./assets/happening-a-ggb.jpg" alt="Card image")
            .card-img-overlay
              h5.card-title Tart danish donut
              p.card-text
                | Donut croissant marshmallow toffee cupcake lollipop. Marshmallow brownie carrot cake.
              p.card-text Last updated 3 mins ago
          .card.text-white.bg-dark.happening.mb-4
            img.card-img(src="./assets/happening-a-forest.jpg" alt="Card image")
            .card-img-overlay
              h5.card-title Icing biscuit
              p.card-text
                | Croissant lemon drops sesame snaps muffin chocolate cake. Jelly-o cake topping cookie jelly.
              p.card-text Last updated 3 mins ago

        .col-lg-4.col-md-12
          .card.mb-4
            img.card-img-top(src="./assets/happening-b-sneeze.jpg" alt="Card image cap")
            .card-body
              small.card-title Soufflé gummi bears
              p.card-text
                small.text-muted Last updated 19 mins ago
          .card.mb-4
            img.card-img-top(src="./assets/happening-b-parrot.jpg" alt="Card image cap")
            .card-body
              small.card-title Sesame snaps
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card.mb-4
            img.card-img-top(src="./assets/happening-b-road.jpg" alt="Card image cap")
            .card-body
              small.card-title Cupcake tootsie
              p.card-text
                small.text-muted Last updated 3 mins ago

    .polygon-top
    .row.justify-content-lg-center.polygon.pt-5
      .col-lg-10
        h1.text-center.mx-4 Lorem ipsum dolor sit amet
        p.text-center.mx-4.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sapiente quod delectus, nostrum laborum tempora voluptate, accusamus at voluptatem odio quidem enim! Laudantium, nostrum consectetur? Quia natus labore enim fugit.
    .row.justify-content-lg-center.polygon.pb-5
      .col-lg-10
        .card-deck.m-3
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-umbrella.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Peace of Mind
              p.card-text
                small.text-muted Sugar plum jelly pastry cupcake. Marshmallow brownie carrot cake. Donut ice cream marzipan icing cotton candy powder lollipop.
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-coffee.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Coffee Breaks
              p.card-text
                small.text-muted Macaroon toffee gummies. Donut candy canes tiramisu cupcake lollipop.
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-present-box.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Rewards
              p.card-text
                small.text-muted Sweet cake tiramisu candy canes pastry bear claw. Carrot cake croissant ice cream.

      .col-lg-10
        .card-deck.m-3
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-box.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Delivery
              p.card-text
                small.text-muted Sugar plum jujubes pie jelly-o carrot cake. Cheesecake!
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-inbox.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Inbox
              p.card-text
                small.text-muted Bear claw macaroon chupa chups halvah chupa chups chupa chups cookie croissant toffee.
          .card.text-center
            img.icons.card-img-top(src="./assets/icons-settings.png" alt="Card image cap")
            .card-body.font-italic
              h5.card-title Settings
              p.card-text
                small.text-muted Oat cake chupa chups pudding chocolate cake wafer ice cream apple pie gummi bears.
    .polygon-bottom

    .row.justify-content-lg-center.m-4
      .col-lg-10.mt-4
        h1.text-center Lorem ipsum dolor sit amet
        p.text-center.text-muted Lorem ipsu Quia natus labore enim fugit.#[br]Accusamus at voluptatem odio quidem enim! Laudantium, nostrum consectetur?

    .row.justify-content-lg-center.m-4.mb-5
      .col-lg-10
        .card-group.tout
          img(src="./assets/card-bonzai.jpg" alt="Card image cap")
          .card
            .card-body
              h2.card-title Fruitcake pie icing gingerbread, jelly beans.
              p.card-text Candy bonbon brownie. Jelly beans jelly toffee carrot cake roll oat cake jujubes macaroon dessert.
              a.btn.btn-primary.badge-pill.text-uppercase(href='#') Plant a tree
        .card-group.tout
          img(src="./assets/card-flower-01.jpg" alt="Card image cap")
          .card
            .card-body
              h2.card-title Pie powder topping pudding chupa chups lemon.
              p.card-text Candy bonbon brownie. Jelly beans jelly toffee carrot cake roll oat cake jujubes macaroon dessert.
              a.btn.btn-primary.badge-pill.text-uppercase(href='#') Smell flowers
        .card-group.tout
          img(src="./assets/card-flower-02.jpg" alt="Card image cap")
          .card
            .card-body
              h2.card-title Gummies bonbon cake
              p.card-text Candy bonbon brownie. Jelly beans jelly toffee carrot cake roll oat cake jujubes macaroon dessert.
              a.btn.btn-primary.badge-pill.text-uppercase(href='#') Coffee please

    .row.justify-content-lg-center.footer.mt-5.p-5
      .col-lg-1.col-md-10.mx-3
        img(
          src="http://via.placeholder.com/100x50/f3627c?text=LOGO",
          alt="Brand logo")
      .col-lg-1.col-md-2.col-sm-6.m-3
        nav.nav.flex-column
          a.nav-link.text-white(href='#')
            b Home
          a.nav-link.text-white(href='#')
            b Discovery
          a.nav-link.text-white(href='#')
            b Photos
          a.nav-link.text-white(href='#')
            b Contact
      .col-lg-1.col-md-2.col-sm-6.m-3
        nav.nav.flex-column
          a.nav-link.text-white(href='#')
            b About
          a.nav-link.text-white(href='#')
            b Help
          a.nav-link.text-white(href='#')
            b Terms
          a.nav-link.text-white(href='#')
            b Guidelines
      .col-lg-1.col-md-2.col-sm-6.m-3
        nav.nav.flex-column
          a.nav-link.text-white(href='#')
            b Testimonials
          a.nav-link.text-white(href='#')
            b Advertise
          a.nav-link.text-white(href='#')
            b Integrations
          a.nav-link.text-white(href='#')
            b Careers
      .col-lg-2.col-md-6.col-sm-12.m-3
        .input-group.mb-1.email
          input.form-control(
            type="text"
            placeholder="Email"
            aria-describedby='basic-addon2')
          .input-group-append
            span#basic-addon2.input-group-text &#128640;
        p Stay in touch with us for the freshest products!
      .col-lg-3.justify-content-lg-center
        nav.nav
          a.nav-link(href='#') &#128247;
          a.nav-link(href='#') &#128038;
          a.nav-link(href='#') &#127467;
          a.nav-link(href='#') &#127758;

    p.text-center.m-3(style="color: #7f7f7f") Source codes for this page can be found #[a(href="https://gitlab.com/angie-codes/etp_test/-/tree/master/src", target="_blank") here].



    script(src="./vendor/jquery-3.6.0.min.js")
    script(src="./vendor/popper.min.js")
    script(src="./vendor/bootstrap.min.js")
    script(src="./index.js")
