body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f7f8fa;
}

ul li {
  list-style: none;
}

.hero-image {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/hero-background.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image > div::after {
  display: block;
  clear: both;
}

.col-lg-10.hero {
  position: absolute;
  bottom: 50px;
}

.hero-text {
  padding: 20px 40px;
  margin-top: 100px;
}

ul#indicator {
  position: absolute;
  bottom: -45px;
}

ul#indicator li {
  /* list-style-type: none; */
  height: 0;
  width: 40px;
  display: inline-block;
  cursor: pointer;
  border-top: 5px solid #a7a7a7;
  transform: skewX(-30deg);
}

ul#indicator li.active {
  border-top: 5px solid #ffffff;
}

ul#indicator li + li {
  margin-left: 5px
}

.frame {
  /* position: relative; */
  padding: 20px 0;
  overflow-x: hidden;
}

ul#slide {
  position: absolute;
  top: 25px;
  right: 25px;
}

ul#slide li {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

ul#slide li:hover {
  background-color: #a7a7a7;
}

.frame .card-container .card{
  width: 300px;
  display: inline;
  float: left;
  margin-right: 20px;
  border-radius: 8px 8px 0 0;
}

.card-container {
  transform: translateX(0);
  width: 1900px;
  transition: transform 0.3s ease-in-out;
}

.card-container .card img {
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card.mb-4 {
  border: 0
}

.card.mb-4 img {
  border-radius: 5px;
}

.card.mb-4 .card-body {
  padding: 10px 20px
}

.card-img-overlay {
  background: linear-gradient(45deg, black, transparent);
  border-radius: 5px;
}

.polygon {
  background-color: #ebedec;
  /* padding: 50px 0 */
}

.polygon-top {
  width: 100%;
  height: 100px;
  background-color: #ebedec;
  clip-path: polygon(0 100%, 100% 3%, 100% 100%, 0 100%);
}

.polygon-bottom {
  width: 100%;
  height: 100px;
  background-color: #ebedec;
  clip-path: polygon(100% 0, 0 0, 0 99%);
}

img.icons {
  width: 100px;
  margin: 50px auto 30px auto;
}

.tout .col-lg-5 img {
  width: 100%
}

.tout img {
  width: 100%
}

/* control direction of tout */
@media (min-width: 769px) {
  .tout > img,
  .tout > .card {
    width: 50%
  }

  .tout:nth-child(2) {
    direction: rtl;
  }

  .card-body {
    direction: ltr;
  }
}

@media (max-width: 768px) {
  .tout {
    margin-bottom: 25px
  }
}

.footer {
  background-color: #3e3e3e;
  color: #bec2c5;
  font-size: smaller;
}

.email input,
.email .input-group-append span {
  border: 0;
  background: #333333;
  border-color: #7a7a7a;
  border-top: 1px;
  border-bottom: 1px;
}

.email input {
  border-left: 1px;
  border-style: solid;
}

.email input:focus {
  outline: none;
  color: #bec2c5;
  background-color: #333333;
}

.email .input-group-append span {
  border-right: 1px;
  border-style: solid;
}
